@import "base";

.btn {
  padding: 15px;
  background-color: transparent;
  border-radius: getRadius(main);
  transition: getTransition(main);
  @extend %flex-center;
  &__title {
    margin: 3px;
  }
  &__icon {
    margin: 3px;
    font-size: 1.1em;
  }
  &:active {
    opacity: 0.3;
    transform: scale(0.9);
  }
}

.btn-primary {
  background-image: getGradient(main);
  color: getColor(font-white);
  box-shadow: getShadow(secondary);
  &:hover {
    box-shadow: none;
  }
}

.btn-simple {
  border: 1px solid getColor(secondary);
  &:hover {
    border-color: getColor(accent);
  }
}

.btn-disabled {
  box-shadow: none;
  border-color: transparent;
  background-color: getColor(main);
  background-image: none;
  color: getColor(font);
  cursor: default;
  &:hover {
    opacity: 1;
    border-color: transparent;
  }
  &:active {
    transform: none;
  }
}

.btn-post {
  padding: 10px 15px;
}

.btn-danger {
  border: 1px solid getColor(bg-danger);
}
