@import "base";

.date-picker.field {
  margin-bottom: 0px;
}

.date-picker {
  flex: 1;
  .field__input {
    font-size: 0.9em;
    border-radius: 0px;
    width: auto;
    padding: 0px 7px;
    height: 40px;
    width: 100%;
    cursor: pointer;
  }
}

.picker-settlement.field__input {
  border-right-color: transparent;
}

.range-form {
  display: flex;
  &__tools {
    width: 50%;
    background-color: getColor(font-white);
    padding: 20px;
    height: 83vh;
    display: flex;
    flex-direction: column;
  }
  &__msg {
    @extend %flex-center;
    justify-content: flex-start;
    color: getColor(danger);
    font-size: 0.8em;
    transition: getTransition(main);
    opacity: 0;
    visibility: hidden;
    height: 18px;
    & > :first-child {
      margin-right: 5px;
    }
    &--error {
      opacity: 1;
      visibility: visible;
    }
  }
  &__sort {
    margin-bottom: 10px;
    position: relative;
  }
  &__price.field {
    margin-bottom: 0px;
  }
  &__price {
    margin-left: 10px;
    .field__input {
      border-radius: 0px;
      height: 40px;
      width: 100px;
      max-width: auto;
    }
    &::placeholder {
      color: getColor(secondary);
    }
  }
  &__btns {
    @extend %flex-center;
    align-items: flex-end;
  }
  &__btns-main {
    @extend %flex-center;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 10px;
    & > :last-child {
      margin-left: 10px;
    }
  }
  &__error {
    @extend %flex-center;
    color: getColor(danger);
    justify-content: flex-start;
    font-size: 0.8em;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    transition: getTransition(main);
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__error-icon {
    margin-right: 5px;
  }
  &__bg-img {
    width: 50%;
    padding: 20px;
    border-right: 1px solid getColor(secondary);
  }
  &__img {
    @extend %image;
    object-fit: contain;
  }
  &__dates {
    border: 1px solid getColor(secondary);
    overflow-y: auto;
    flex: 1;
    background-color: getColor(main);
    margin-top: 0.5em;
  }
}

.btn-create {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  @extend %flex-center;
  background-color: getColor(main);
  transition: getTransition(main);
  opacity: 1;
  transform: scale(1);
  border: 1px solid getColor(accent);
  &__icon {
    margin: auto;
    font-size: 1.1em;
  }
  &:hover {
    .btn-create__icon {
      color: getColor(accent);
    }
  }
  &:active {
    opacity: 0.5;
    transform: scale(0.9);
  }
  &--disabled {
    border-color: transparent;
    cursor: default;
    &:hover {
      border-color: transparent;
      .btn-create__icon {
        color: getColor(font);
      }
    }
    &:active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.slot {
  @extend %flex-center;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid getColor(secondary);
  cursor: default;
  background-color: getColor(font-white);
  &:hover {
    .slot__btn-delete {
      opacity: 1;
      visibility: visible;
    }
  }
  &--disabled {
    background-color: getColor(bg-danger);
    border-color: getColor(danger);
    &:hover {
      .slot__btn-delete {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  &__settlement {
    background-color: getColor(main);
    padding: 4px;
  }
  &__eviction {
    background-color: getColor(main);
    padding: 4px;
  }
  &__price {
    @extend %flex-center;
    font-weight: bold;
  }
  &__btn-delete {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid getColor(secondary);
    opacity: 0;
    visibility: hidden;
    transition: getTransition(main);
    & > * {
      margin: auto;
    }
    &:active {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
}

.slot-btn {
  @extend %flex-center;
  justify-content: space-between;
  background-color: getColor(font-white);
  width: 100%;
  padding: 14px;
  border-bottom: 1px solid getColor(secondary);
  transition: getTransition(main);
  &--booked {
    background-color: getColor(bg-danger);
    border-color: getColor(danger);
    cursor: default !important;
  }
  &--chosen {
    background-color: getColor(bg-success);
    border-color: getColor(success);
  }
  &--denied {
    background-color: getColor(bg-warning);
    border-color: getColor(warning);
  }
  &__check {
    width: 25px;
    height: 25px;
    border: 1px solid getColor(secondary);
    @extend %flex-center;
    transition: getTransition(main);
    & > * {
      font-size: 1.2em;
      opacity: 0;
      transition: getTransition(main);
      color: getColor(success);
    }
    &--checked {
      border-color: getColor(success);
      & > * {
        opacity: 1;
      }
    }
  }
  &__settlement {
    background-color: getColor(main);
    padding: 4px;
  }
  &__eviction {
    background-color: getColor(main);
    padding: 4px;
  }
  &__price {
  }
  &__grivna-sign {
    font-size: 0.9em;
    color: getColor(secondary);
  }
  &__arrow-right {
    color: getColor(secondary);
  }
}

.sort-chevron {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid getColor(secondary);
  background-color: getColor(main);
  margin: 0px 14px;
  @extend %flex-center;
  transition: getTransition(main);
  & > * {
    margin: auto;
  }
  &:hover {
    border-color: getColor(accent);
  }
  &:active {
    opacity: 0.5;
  }
}
