@import "base";

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1.3em;
  margin-top: 1em;
}

.gallery-img {
  padding: 10px;
  border-bottom: 1px solid getColor(secondary);
  background-color: getColor(font-white);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  &__btn-edit {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid getColor(secondary);
    position: absolute;
    border-radius: getRadius(main);
    background-color: getColor(font-white);
    top: -4px;
    right: -4px;
    padding: 7px;
    color: getColor(font);
    transition: getTransition(main);
    opacity: 0;
    visibility: hidden;
    & > * {
      margin: auto;
    }
  }

  &:hover {
    .gallery-img__btn-edit {
      opacity: 1;
      visibility: visible;
    }
  }
  &__wrapper {
    flex: 1;
  }
  &__thumbnail {
    @extend %image;
  }
}

.img-popup {
  @extend %position-center;
  position: fixed;
  width: 1200px;
  max-width: 100%;
  padding: 0px 40px;
  z-index: 13;
  opacity: 0;
  visibility: hidden;
  transition: getTransition(main);
  transform: translate(-50%, -50%) scale(0.9);
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  &__arrow {
    transform: translateY(-50%);
  }
  &__wrapper {
    height: 60vh;
    display: flex;
    margin: 0 auto;
    box-shadow: getShadow(main);
  }
  &__preview {
    flex: 1;
    backdrop-filter: blur(24px);
  }
  &__img {
    @extend %image;
    object-fit: contain;
  }
  &__info {
    width: 380px;
    background-color: getColor(main);
  }
  &__title {
    border-bottom: 1px solid getColor(secondary);
    text-align: center;
    font-size: 1.5em;
    font-family: $font-second;
    font-weight: normal;
    padding: 20px 0;
  }
  &__paragraph {
    padding: 20px;
    font-size: 1.15em;
  }
}

.arrow-right {
  right: 0;
  border-top-right-radius: getRadius(main);
  border-bottom-right-radius: getRadius(main);
}
.arrow-left {
  left: 0;
  border-top-left-radius: getRadius(main);
  border-bottom-left-radius: getRadius(main);
}
