@import "base";

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 1.3em;
  // align-items: flex-start;
  // align-content: flex-start;
}

.gallery-img {
  border-radius: getRadius(main);
  padding: 10px;
  border: 1px solid getColor(secondary);
  background-color: getColor(font-white);
  cursor: pointer;
  &__thumbnail {
    @extend %image;
  }
}

.img-popup {
  @extend %position-center;
  position: fixed;
  width: 1240px;
  padding: 0px 20px;
  background-color: getColor(main);
  box-shadow: getShadow(main);
  z-index: 13;
  opacity: 0;
  visibility: hidden;
  transition: getTransition(main);
  transform: translate(-50%, -50%) scale(0.9);
  border: 1px solid black;
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  &__arrow {
  }
  &__wrapper {
    height: 60vh;
    display: flex;
    width: 1180px;
    border: 1px solid black;
    margin: 0 auto;
  }
  &__preview {
    width: 60%;
  }
  &__img {
    @extend %image;
  }
  &__info {
    width: 40%;
  }
  &__title {
    border-bottom: 1px solid getColor(secondary);
    text-align: center;
    // padding:
    font-size: 1.5em;
    font-family: $font-second;
    font-weight: normal;
    padding: 20px 0;
    // font-family: getFont(secondary);
    // font-family: map-get($fonts, main);
  }
  &__paragraph {
    padding: 20px;
    font-size: 1.15em;
  }
}

.arrow-right {
}

.arrow-left {
}
