@import "base";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: getColor(main);
  font-size: 1.02em;
  color: getColor(font);
}

button,
input,
select {
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: getColor(font);
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.background {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: getColor(bg);
  opacity: 0;
  visibility: hidden;
  transition: getTransition(main);
  z-index: 10;
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.plug-text {
  font-size: 1.2em;
  color: getColor(secondary);
  padding-top: 20px;
  text-align: center;
}

.wrapper {
  width: 1240px;
  max-width: 100%;
  padding: 69px 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.btn-handler {
  display: none;
}

.title {
  @extend %flex-center;
  border-bottom: 1px solid getColor(secondary);
  padding-bottom: 0.5em;
  justify-content: flex-start;
  font-family: $font-second;
  &__icon {
    font-size: 2em;
    color: getColor(secondary);
  }
  &__text {
    padding-left: 10px;
    font-size: 1.4em;
    font-weight: normal;
  }
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: getColor(font-white);
    border: 1px solid getColor(secondary);
    margin-left: auto;
    transition: getTransition(main);
    &:hover {
      border-color: getColor(accent);
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__btn-icon {
    margin: auto;
    font-size: 1.1em;
  }
}
