@import "base";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: getColor(bg);
  backdrop-filter: blur(2px);
  transition: getTransition(main);
  opacity: 0;
  visibility: hidden;
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.loader__spinner {
  @extend %position-center;
  position: absolute;
  width: 110px;
  height: 110px;
  border: 12px solid getColor(main);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin getTransition(spin);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
