@import "base";

@keyframes scale {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.response {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid getColor(secondary);
  margin-bottom: 20px;
  width: 900px;
  max-width: 100%;
  background-color: getColor(font-white);
  padding: 10px 15px 10px 0;
  animation: scale getTransition(main);
  position: relative;
  &__btn-remove {
    @extend %flex-center;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: getColor(main);
    top: -5px;
    left: -5px;
    border: 1px solid getColor(secondary);
    transition: getTransition(main);
    & > * {
      margin: auto;
    }
    &:hover {
      border-color: getColor(accent);
    }
    &:active {
      opacity: 0.5;
      transform: scale(0.9);
    }
  }
  &__img-link {
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    margin: 15px;
    color: getColor(font);
    padding: 5px;
    background-color: getColor(font-white);
    border: 1px solid getColor(secondary);
    border-radius: 50%;
    &:hover {
      .response__user-ava {
        transform: scale(1.15);
      }
    }
  }
  &__user-ava {
    @extend %image;
    transition: getTransition(main);
  }
  &__icon-type {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid getColor(accent);
    font-size: 1.4em;
    border-radius: 50%;
    padding: 3px;
    background-color: getColor(main);
  }
  &__content {
    flex: 1;
  }
  &__title {
    @extend %flex-center;
    justify-content: space-between;
  }
  &__text-link {
    text-decoration: none;
    color: getColor(accent);
  }
  &__date {
    font-size: 0.8em;
  }
  &__content-text {
    border-top: 1px solid getColor(main);
    padding: 5px;
  }
  &__form-input {
    border: 1px solid getColor(secondary);
    padding: 10px;
    margin: 15px 0;
    width: 650px;
    max-width: 100%;
    border-radius: getRadius(main);
    transition: getTransition(main);
    &:focus {
      border-color: getColor(accent);
    }
  }
}

.form-response {
  width: 100%;
  padding: 15px;
  padding-left: 0;
  .response__content-text {
    padding: 0;
  }
}

.reply {
  display: flex;
  &__btn-toggle {
    transition: getTransition(main);
    @extend %flex-center;
    padding: 3px 10px;
    font-size: 0.9em;
    background-color: getColor(main);
    border: 1px solid transparent;
    & > * {
      margin: auto;
    }
    &-close {
      width: 28px;
      height: 28px;
      padding: 0;
    }
    &:hover {
      border-color: getColor(accent);
    }
    &:active {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
  &__toggle-icon {
    margin-right: 5px;
  }
  &__form {
    display: flex;
    flex: 1;
    transition: getTransition(main);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    &--open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
  &__input {
    flex: 1;
    border: 1px solid getColor(main);
    font-size: 0.9em;
    padding: 3px;
    transition: getTransition(main);
    &:focus {
      border-color: getColor(accent);
    }
  }
  &__btn-submit {
    @extend %flex-center;
    padding: 3px 10px;
    font-size: 0.9em;
    color: getColor(font-white);
    background-image: getGradient(main);
    transition: getTransition(main);
    box-shadow: getShadow(secondary);
    &:hover {
      box-shadow: none;
    }
    &:active {
      transform: scale(0.9);
      opacity: 0.5;
    }
    &--disabled {
      box-shadow: none;
      background-color: getColor(main);
      background-image: none;
      color: getColor(font);
      cursor: default;
      &:hover {
        opacity: 1;
        border-color: transparent;
      }
      &:active {
        transform: none;
      }
    }
  }
  &__btn-icon {
    margin-right: 5px;
  }
}
